*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body,
html{
    padding: 0;
    margin: 0;
}
.app{
    width: 400px;
    margin: auto;
    max-width: 100%;
    border: 1px solid;
    padding: 0 2rem 2rem 2rem 2rem;
    margin-top: 2rem;
    background-color: whitesmoke;
}
.wish-input{
    border: 0;
    border-bottom: 3px dashed grey;
    padding: 0;
}
.wish-input__label{
    font-weight: 700;
}
.wish-input_field{
    width: 100%;
    border: 0;
    padding: 1rem;
    font-size: 1.2rem;
    background-color: transparent;
}
.wish-list{
    list-style: none;
    padding: 0;
}
.wish-list_item{
    display: flex;
    font-size: 1.2rem;
    align-items: center;
}

.wish-list_item > * + * {
    margin-left: 1rem;
}
.wish-list_item input{
    width: 2rem;
    height: 2rem;
}
.wish-list_item--done label{
    text-decoration: line-through;
}
.wish-clear{
    width: 100%;
    padding: 0.5rem;
    background: white;
    font-size: 1.2rem;
    border: 1px solid grey;
    border-radius: 3px;
}